<tr>
    <td>
        <span class="fas fa-tag mr-2 dark-gray"></span>
    </td>
    <td class="mr-2">
        <div class="mr-2">
            {{ form_errors(tag.name) }}
            {{ form_widget(tag.name) }}
        </div>
    </td>
    <td>
        <span class="badge badge-primary badge-pill mr-3">{{ tag.vars.value.devices|length }}</span>
    </td>
    <td>
        <button class="btn btn-danger mr-2 js-remove-tag"><span class="fas fa-trash"></span></button>
    </td>
    <td>
        <div class="mr-2">
            {{ form_errors(tag.cluster) }}
            {{ form_widget(tag.cluster) }}
        </div>
    </td>
</tr>
