<div class="nav flex-column nav-pills">
    <a class="nav-link{% if pageTitle == 'Dashboard' %} active{% endif %}" href="{{ path('app.dashboard') }}">Dashboard</a>
    <a class="nav-link{% if pageTitle == 'Devices' %} active{% endif %}" href="{{ path('app.devices') }}">Devices</a>
    <a class="nav-link{% if pageTitle == 'Tags' %} active{% endif %}" href="{{ path('app.tags') }}">Tags</a>
    <a class="nav-link{% if pageTitle == 'Scenes' %} active{% endif %}" href="{{ path('app.scenes') }}">Scenes</a>
    <a class="nav-link{% if pageTitle == 'API' %} active{% endif %}" href="{{ path('app.api') }}">API</a>
    <a class="nav-link{% if pageTitle == 'Screen' %} active{% endif %}" href="{{ path('app.screen') }}">Screen</a>
</div>
