{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard<a style="float: right" type="button" class="btn btn-lg btn-outline-primary" href="{{ path('app.dashboard') }}">R</a></h1>

    <h2>Devices</h2>

    {{ form_start(form) }}

    {{ form_label(form.devices) }}
    {{ form_errors(form.devices) }}

    {# store the prototype on the data-prototype attribute #}

    <div>

    </div>
        <div id="email-fields-list"
            data-prototype="{{ form_widget(form.devices.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.devices|length }}">
            {% for devicesForm in form.devices %}
                <div class="row js-yeelight" data-id="{{ devicesForm.vars.value.id }}">
                    <div class="col-1 align-self-center">
                        {% if devicesForm.type.vars.value == constant('App\\Entity\\Device::TYPE_YEELIGHT') %}
                            <img src="{{ asset('img/icons/yeelight.png') }}" width="48" height="48" alt="icon yeelight">
                        {% elseif devicesForm.type.vars.value == constant('App\\Entity\\Device::TYPE_ARDUINO') %}
                            <img src="{{ asset('img/icons/arduino.png') }}" width="48" height="48" alt="icon yeelight">
                        {% endif %}
                    </div>
                    <div class="col-3 align-self-center">
                        {{ form_row(devicesForm.name) }}
                    </div>
                    <div class="col-2 align-self-center">
                        <span><i class="fas fa-lightbulb js-icon-lamp"></i></span>
                        <span><i class="fas fa-signal ml-2"></i><span class="ml-1 js-icon-bright"></span></span>
                    </div>
                    <div class="col-2 align-self-center">
                        <div>
                            <div><i class="fas fa-sun"></i></div>
                            <div><i class="fas fa-palette"></i></div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        {% if devicesForm.type.vars.value == constant('App\\Entity\\Device::TYPE_YEELIGHT') %}
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_power', 'params': 'on,sudden,0'}) }}">On</button>
                                <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_power', 'params': 'off,sudden,0'}) }}">Off</button>
                                <button type="button" class="btn btn-outline-primary">Flash</button>
                            </div>
                            <i class="fas fa-caret-down"></i>
                            <span class="js-device-info-action" data-row="{{ loop.index }}"><span class="fas fa-caret-down"></span></span>
                        {% elseif devicesForm.type.vars.value == constant('App\\Entity\\Device::TYPE_ARDUINO') %}
                            <p>todo: Arduino actions</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row d-none js-device-info-{{ loop.index }}">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <table>
                            <tbody>
                                <tr>
                                    <th>IP</th>
                                    <td>{{ form_row(devicesForm.ip) }}</td>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ form_row(devicesForm.deviceId) }}</td>
                                </tr>
                                <tr>
                                    <th>Last scan</th>
                                    <td>{{ devicesForm.vars.value.lastScan|date('Y-m-d H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                            <div class="mb-1">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_ct_abx', 'params': '2840,sudden,0'}) }}">Warm White</button>
                                    <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_ct_abx', 'params': '5500,sudden,0'}) }}">Cold white</button>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_bright', 'params': '1,sudden,0'}) }}">Dim 1%</button>
                                    <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_bright', 'params': '50,sudden,0'}) }}">Dim 50%</button>
                                    <button type="button" class="btn btn-outline-primary js-ajax" data-url="{{ path('api.yeelight.execute', {'id': devicesForm.vars.value.id, 'method': 'set_bright', 'params': '100,sudden,0'}) }}">Dim 100%</button>
                                </div>
                            </div>

                        <div class="row">
                            {{ form_row(devicesForm.scenes) }}
                        </div>
                        <div class="row">
                            todo: tags
                        </div>
                    </div>
                </div>
            {% else %}
                <p>There are no known devices</p>
            {% endfor %}
        </div>
{#    </table>#}



    <button type="button"
            class="btn btn-outline-success add-another-collection-widget"
            data-list-selector="#email-fields-list">+</button>

{#    <a href="{{ path('app.dashboard', {'action':'scan_yeelights'}) }}" type="button" class="btn btn-outline-success">Scan for Yeelights</a>#}
    {{ form_end(form) }}


    <a href="{{ path('app.dashboard', {'action':'scan_yeelights'}) }}" type="button" class="btn btn-outline-success">Scan for Yeelights</a>

    <h2>Scenes</h2>
    <table class="table">
        <thead>

        </thead>
        <tbody>
            {% for scene in scenes %}
                <tr>
                    <td>scene</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ form_end(form) }}

    {% block page_contents %}{% endblock %}
{% endblock %}


{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/helpers.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            document.querySelectorAll('.js-device-info-action').forEach(function (el) {
                el.addEventListener('click', function (e) {
                    const $infoBlock = document.querySelector('.js-device-info-' + e.currentTarget.dataset.row);
                    $infoBlock.classList.toggle('d-none');
                    el.classList.remove('btn-outline-primary', 'btn-primary');
                    el.classList.add($infoBlock.classList.contains('d-none') ? 'btn-outline-primary' : 'btn-primary');
                });
            });

            document.querySelectorAll('.js-ajax').forEach(function (el) {
                el.addEventListener('click', function (e) {
                    axios.get(e.currentTarget.dataset.url)
                        .then(function (response) {
                            // handle success
                            console.log(response);
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        });
                });
            });

            document.querySelectorAll('.js-yeelight').forEach(function (el) {
                axios.get('/api/yeelight/' +  el.dataset.id + '/action/get_prop/power,bright,color_mode,ct,rgb')
                    .then(function (response) {
                        const data = response.data.result;
                        if(data[2] === '1') {
                            el.querySelector('.js-icon-lamp').setAttribute('style', 'color: #'+rgbToHex(Number(data[4])));
                        }
                        else if(data[2] === '2') {
                            el.querySelector('.js-icon-lamp').setAttribute('style', 'color: #'+colorTemperatureToHex(Number(data[3])));
                        }

                        el.querySelector('.js-icon-bright').textContent = data[1] + '%';

                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
            })
        });

        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}
